<html class="container">

<h1 class="title" name="create-thread-header">Create Discussion</h1>

<table>
    <tr>
        <h2 class="inputTitle">Discussion Name:</h2>
        <input class="inputReg-name" name="threadNameBox" (change)="removeDuplicateThreadWarning()" [(ngModel)]="threadCreate.name">
    </tr>
    <div>
        <p class="inputTitle">Topics Selection:</p>
        <div class="table-fields">
            <input type="checkbox" id="python" value="Python" [(ngModel)]="threadCreate.topic1">
            <label class="inputTitle" for="python"> Python</label><br>
        </div>
        <div class="table-fields">
            <input type="checkbox" id="c++" value="C++" [(ngModel)]="threadCreate.topic2">
            <label class="inputTitle" for="c++"> C++</label><br>
        </div>
        <div class="table-fields">
            <input type="checkbox" id="html" value="Html" [(ngModel)]="threadCreate.topic3">
            <label class="inputTitle" for="html"> Html</label><br>
        </div>
    </div>
    <br>
    <h2 class="inputTitle">Discussion text:</h2>
</table>

<table>
    <textarea class="inputReg-text" rows=10 cols= 50 name="threadBodyBox" [(ngModel)]="threadCreate.text"></textarea>
</table>

<button class="donebutton" name="confirmInput" (click)="removeMissingFieldWarning(); createThread()">Done!</button>

<div class="inputTitle" *ngIf="isMissingNameField">Please create a name for the discussion.</div>
<div class="inputTitle"  *ngIf="isMissingTopicField">Please select at least one tag for the discussion.</div>

<div class="inputTitle"  *ngIf="isThreadDuplicate">
    Duplicated discussion name. Please create another name.
</div>

<div class="inputTitle"  *ngIf="isNotLoggedIn">
    You need to be logged in to create a thread.
</div>


</html>
