<html>

<h1>Create Discussion</h1>

<table>
    <tr>
        <h2>Discussion Name:</h2>
        <input (change)="removeDuplicateThreadWarning()" [(ngModel)]="threadCreate.name">
    </tr>
    <div>
        <p>Topics Selection:</p>
        <div>
            <input type="checkbox" id="python" value="Python" [(ngModel)]="threadCreate.topic1">
            <label for="python"> Python</label><br>
        </div>
        <div>
            <input type="checkbox" id="c++" value="C++" [(ngModel)]="threadCreate.topic2">
            <label for="c++"> C++</label><br>
        </div>
        <div>
            <input type="checkbox" id="html" value="Html" [(ngModel)]="threadCreate.topic3">
            <label for="html"> Html</label><br>
        </div>
    </div>
</table>

<button (click)="removeMissingFieldWarning(); createThread()">Done!</button>

<div *ngIf="isMissingNameField">Please create a name for the discussion.</div>
<div *ngIf="isMissingTopicField">Please select at least one tag for the discussion.</div>

<div *ngIf="isThreadDuplicate">
    Duplicated discussion name. Please create another name.
</div>


</html>
