<html class="container">

<div class="he">
    <h1 class="title">Manage Discussions</h1>
</div>

<div class="thread-component-blob">
    <div class="thread-box-wrapper" *ngFor="let t of threads">
        <div class="thread-box"> 
                <div class="thread-top">
                    <div class="op-wrapper">
                        <p class="fktxt">By: </p>
                        <p id="fkLink">{{t.author.name}} </p>
                    </div>
                    <div class="op-wrapper">
                        <p class="fktxt">Created: </p>
                        <p id="fkfkLink">{{formatTime(t.timeCreated)}}</p>
                    </div>
                    <div class="op-wrapper">
                        <p class="fktxt">Last Activity: </p>
                        <p class="fktxt" id="fkfkLink"> {{getLastActivity(t)}} </p>
                    </div>
                    <div class="op-wrapper">
                        <p class="fktxt">Replies: </p>
                        <p class="fktxt" id="fkfkLink">{{t.replies.length}}</p>
                    </div>
                    <div class="op-wrapper">
                        <p id="fkLinkk" *ngIf="t.topic1;">PYTHON</p>
                        <p id="fkLinkk" *ngIf="t.topic2;">C++</p>
                        <p id="fkLinkk" *ngIf="t.topic3;">HTML</p>
                    </div>
                </div>
                <hr>
                <div class="thread-bot">
                    <h1>{{t.name}}</h1>
                </div>
                <button class="donebutton" *ngIf="isLoggedUserOrAdmin(t.author)" (click)="deleteThread(t)">Delete</button>
                <button class="donebutton" *ngIf="isLoggedUserOrAdmin(t.author)" (click)="toggleLockThread(t,'true')">Lock Thread</button>
                <button class="donebutton" *ngIf="isLoggedUserOrAdmin(t.author)" (click)="toggleLockThread(t,'false')">Unlock Thread</button>
        </div>
    </div>
</div>

<div class="bott">
    <button class="donebutton" [routerLink]="'/home'">Return</button>
</div>
</html>
