
.wrapper
{
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 10%;
}

.thread-component
{
    height:auto;
    width:auto;
}

.thread-component-topbar
{
    display: flex;
    flex-direction: row;
    color: #12CDD4;
    width:auto;
}

#thread-component-topbar-left{
    max-width: 50%;
    font-size: 150%;
}

#thread-componen-topbar-name{
    font-size: 3.5vw;
}

#thread-component-topbar-right
{
    width: fit-content;
    padding-top: 2%;
    padding-right: 4%;
    display: flex;
    flex-direction: row;
    color: #12CDD4;
}

.wrapper-by{
    height: fit-content;
    width: fit-content;
}

#filter-text, #sort-text, #filter-options, #sort-options{
    font-size: 1vw;
}

.box-by{
    border: 1px solid #DB00B6;
    border-radius: 10px;   
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

select{
    padding: 5px;
    color: #FAC710;
  }
  select option { color: white; }
  select option:first-child{
    color: #FAC710;
}

.thread-component-blob{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.thread-box-wrapper{
    padding-bottom: 2%;
}

.thread-box{
    color:white;
    border: 4px solid #DB00B6;
    border-radius: 8px;
    min-height: 100px;
}

.thread-top{
    display: flex;
    padding-top: 5px;
    padding-bottom: 3px;
}

.sp{
    padding-right: 5px;
    padding-left: 5px;
}

.op-wrapper{
    padding-left: 5px;
    padding-right: 5px;
    width: max-content;
    display: flex;
    font-size:1vw;
}

.fktxt{
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1em;
}

#fkLink{
    color: #12CDD4;
    text-decoration: underline;
    font-size: 1em;
}

#fkfkLink{
    color: #FAC710;
}

#fkLinkk{
    color: #12CDD4;
    text-decoration: underline;
    padding-right: 10px;
    font-weight: bold;
}

.thread-bot{
    padding-left: 10px;
    padding-top: 2%;
    align-items: center;
    min-height: 100%;
    flex-grow: 2;
    cursor: pointer;
}

#sort-options{
    border:0px;
    outline:0px;
}
#filter-options{
    border:0px;
    outline:0px;
}
