
.wrapper
{
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 10%;
}

.thread-component
{
    height:auto;
    width:auto;
}

.thread-component-topbar
{
    display: flex;
    flex-direction: row;
    color: #12CDD4;
    width:auto;
    align-items:center;
    justify-content: flex-start;
}

#thread-component-topbar-left{
    max-width: 60%;
    font-size: 1rem;
}

#thread-componen-topbar-name{
    font-size: 3rem;
}

#thread-component-topbar-right
{
    width: fit-content;
    padding-top: 2%;
    padding-right: 4%;
    display: flex;
    align-items:flex-end;
    flex-direction: row;
    color: #12CDD4;
    align-items: flex-end;

}

#op-wrapper-topic
{
    flex-direction:row;
    font-size: 0.8rem;

}

.wrapper-by{
    height: fit-content;
    width: fit-content;
}

#filter-text, #sort-text, #filter-options, #sort-options{
    font-size: 1rem;
}

.box-by{
    border: 1px solid #DB00B6;
    border-radius: 10px;   
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

select{
    padding: 5px;
    color: #FAC710;
  }
  select option { color: white; }
  select option:first-child{
    color: #FAC710;
}

.thread-component-blob{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.thread-box-wrapper{
    padding-bottom: 2%;
}

.thread-box{
    color:white;
    border: 4px solid #DB00B6;
    border-radius: 8px;
    min-height: 100px;
}

.thread-top{
    display: flex;
    padding-top: 5px;
    padding-bottom: 3px;
}

.sp{
    padding-right: 5px;
    padding-left: 5px;
}

.op-wrapper{
    padding-left: 5px;
    padding-right: 5px;
    width: max-content;
    display: flex;
    font-size: 1rem;
}

.fktxt{
    padding-left: 0.1vw;
    padding-right: 0.05vw;
    font-size: 1rem;
}

#fkLink{
    color: #12CDD4;
    text-decoration: underline;
    font-size: 1rem;
}

#fkfkLink{
    color: #FAC710;
}

#fkLinkk{
    color: #12CDD4;
    text-decoration: underline;
    padding-right: 1vw;
    font-weight: bold;
}

.thread-bot{
    padding-left: 2vw;
    padding-top: 2%;
    align-items: center;
    min-height: 100%;
    flex-grow: 2;
    cursor: pointer;
    inline-size: 100%;
    overflow-wrap: break-word;
}

#sort-options{
    border:0px;
    outline:0px;
}
#filter-options{
    border:0px;
    outline:0px;
}

.overlay
{
    position:absolute;
    right: 0.5rem;
    top: 0.3rem;
}

.overlay-topics
{
    position:absolute;
    right: 1.3rem;
    top: 7.3rem;
}


.top-bar-button{
    font-size: 110%;
    min-height: 35px;
    width: 100%;
    font-weight: bold;
    opacity: 0.8;
    transition: 0.5s;
    border: none;
    color: #12CDD4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid  #DB00B6;
    background-color: #380B7A;

}

.top-bar-button:hover
{
    opacity: 1;
}

.top-bar-button:active
{
    background-color: #DB00B6;
    border: 2px solid  #12CDD4;
    color:#380B7A ;
    transition: 0.2s;
}

.dropbtn {
background-color:  #380B7A;
border: 2px solid #DB00B6;
border-radius: 8px;
color: #12CDD4;
padding: 16px;
font-size: 1.2rem;
cursor: pointer;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #380B7A;
min-width: 100%;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

#father
{
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: flex;
}

.dropdown-content a:hover {background-color:  #FAC710}

.dropdown:hover .dropdown-content {
display: flex;
flex-direction: column;
}

.dropdown:hover .dropbtn {
background-color: #490fa0;
}

#topics{
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 2.5rem;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FAC710;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    width: 1.3rem;
    background-color: #380B7A;
    border: 2px solid #DB00B6;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #380B7A;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #DB00B6;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    height: 1.3rem;
    width: 1.3rem;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #topicText 
  {
    color: #12CDD4;
    font-weight: bold;
    font-size: 2rem;
  }

@media screen and (max-width: 900px) {
    .thread-component-topbar
    {
        flex-direction: column;
    }
    .wrapper
    {
        padding: 1rem;
        margin: 0;
        align-content: center;
    }
}