<html>
    <div class="wrapper">
        <div class="thread-component">
            <div class="thread-component-topbar">
                <div id="thread-component-topbar-left">
                    <h1 id="thread-componen-topbar-name">Threads</h1>
                </div>
                <div id="thread-component-topbar-right">
                    <div class="wrapper-by">
                        <div class="box-by">
                            <p id="filter-text">Filter by:</p>
                            <select (change)="selectFilterBy($event)" name="filter-options" id="filter-options" [(ngModel)]="filterType" (change)="filterby()">
                                <option value=1>All Posts</option>
                                <option value=2>My Posts</option>
                            </select>    
                        </div>
                    </div>
                    <div class="wrapper-by">
                        <div class="box-by">
                            <p id="sort-text">Sort by:</p>
                            <select (change)="selectSortBy($event)" name="sort-options" id="sort-options" [(ngModel)]="sortType" (change)="sortby()">
                                  <option value=1>Latest</option>
                                  <option value=2>Relevant</option>
                                  <option value=3>Popular</option>
                              </select>                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="thread-component-blob">
                <div class="thread-box-wrapper" *ngFor="let t of threads">
                    <div class="thread-box">
                            <div class="thread-top">
                                <div class="op-wrapper">
                                    <p class="fktxt">By: </p>
                                    <p id="fkLink">{{t.author.name}} </p>
                                </div>
                                <p class="sp">・</p>
                                <div class="op-wrapper">
                                    <p class="fktxt">Created: </p>
                                    <!--TODO: Format shown date: 
                                        mm/dd/yyyy hh:mm:ss.mmmm -> dd/mm/yy hh:mm:ss
                                    -->
                                    <p id="fkfkLink">{{t.timeCreated}}</p>
                                    <!-- <p id="fkfkLink">{{t.timeCreated}}}</p>  -->
                                </div>
                                <p class="sp">・</p>
                                <div class="op-wrapper">
                                    <p class="fktxt">Last Activity: </p>
                                    <p class="fktxt" id="fkfkLink">Less than 1hr ago</p>
                                </div>
                                <p class="sp">・</p>
                                <div class="op-wrapper">
                                    <p class="fktxt">Replies: </p>
                                    <p class="fktxt" id="fkfkLink">{{t.replies.length}}</p>
                                </div>
                                <p class="sp">・</p>
                                <p class="op-wrapper" id="fkLinkk" *ngIf="t.topic1;">PYTHON</p>
                                <p class="op-wrapper" id="fkLinkk" *ngIf="t.topic2;">C++</p>
                                <p class="op-wrapper" id="fkLinkk" *ngIf="t.topic3;">HTML</p>
                            </div>
                            <hr>
                            <div class="thread-bot" [routerLink]="'../thread/:' + t.id.toString()">
                                <h1>{{t.name}}</h1>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>