* {
    color: white;
}

ul{
    list-style-position: inside; /*Avoid dots overlapping text*/
    padding-left: 0.5rem;
}

/* Hides the first dot */
.thread-info:first-child{
    list-style-type: none;
}

.thread-info{
    float: left; /*Makes the list horizontal*/
    padding-right: 0.75rem;
}

hr{
    margin-left: 0rem;
    width: 100%;
}

.reply, #answer-div, #thread-title, #thread-text, .thread-info:first-child{
    margin-left: 1rem;
}

.reply{
    margin-bottom: 1rem;
    margin-top: 0rem;
    white-space: pre-wrap;
}

.quote-header {
    margin: 0;
    border-color:cyan;
    padding: 1em;
    border-left: 0.125em solid; 
    box-sizing: inherit;
  }

.reply-header, h2{
    color: cyan;
}

textarea, #thread-text{
    white-space: pre-wrap;
}

textarea{
    color: black;
    background-color: white;
    margin-right: 1rem;
}