<html>
<ul>
    <li class="thread-info">By {{thread.author.name}}</li>
    <li class="thread-info">In {{thread.timeCreated}}</li>
    <li class="thread-info">Last activity {{LastActivity}}</li>   
    <li class="thread-info">{{thread.replies.length}} replies</li>
    <li *ngIf="thread.isLocked">LOCKED</li>
</ul>
<br>

<hr>

<h2>{{thread.name}}</h2>
<p id="thread-text">{{thread.text}}</p>

<div class="reply" *ngFor="let r of thread.replies">
    <br>
    <p class="reply-header"> {{r.author.name}}  on {{r.timeSent}}</p>
    <button *ngIf="isLoggedUserOrAdmin(r.author)" (click)="deleteReply(r)">Delete</button>
    <p>{{r.content}} </p>
</div>

<br>
<textarea rows=10 cols= 50 [(ngModel)]="replyText"></textarea>
<button (click)="sendReply()">Send</button>

</html>