<html>

<div>
    <ul>
        <li class="thread-info-fields">By</li>
        <li class="thread-info"> {{thread.author.name}}</li>

        <li class="thread-info-fields">In</li>
        <li class="thread-info">{{formatTime(thread.timeCreated)}}</li>

        <li class="thread-info-fields">Last activity:</li>
        <li class="thread-info">{{formatTime(LastActivity)}}</li>   

        <li class="thread-info-fields">Replies:</li>
        <li class="thread-info">{{thread.replies.length}}</li>

        <li class="thread-info-fields" *ngIf="thread.isLocked">LOCKED</li>
    </ul>
    <br>
</div>

<hr>
<br>

<h2 id="thread-title">{{thread.name}}</h2>
<p  id="thread-text">{{thread.text}}</p>

<div class="reply" *ngFor="let r of thread.replies">
    <br>
    <p class="reply-header"> {{r.author.name}}  on {{r.timeSent}}</p>
    <button class="reply-buttons" *ngIf="loggedUser" (click)="quoteReply(r)">Quote</button>
    <button class="reply-buttons" *ngIf="isLoggedUserOrAdmin(r.author)" (click)="deleteReply(r)">Delete</button>

    <blockquote class="quote-header" *ngIf="r.quoteOf">
        <p class="quote-author">Quoting {{r.quoteOf.author.name}}:</p>
        <p *ngIf="isReplyOnArray(r.quoteOf) == true"  class="quote-content"> {{r.quoteOf.content}}</p>
        <p *ngIf="isReplyOnArray(r.quoteOf) == false" class="quote-content"> This reply was removed!</p>
    </blockquote>

    <p>{{r.content}} </p>
</div>

<div id="answer-div">
    <br>
    <div class="answer-quote-div">
        <blockquote class='quote-header' *ngIf="isQuoting()">
            <p class="quote-author"> Quoting {{quotedReply?.author?.name}}:</p>
            <p *ngIf="isReplyOnArray(quotedReply)" class="quote-content"> {{quotedReply?.content}}</p>
            <p *ngIf="isReplyOnArray(quotedReply)==false" class="quote-content"> This reply was removed!</p>
        </blockquote>
        <button *ngIf="isQuoting()" (click)="stopQuoting()">stopQuoting</button>
    </div>
    <br>

    <textarea class="inputReg" rows=10 cols= 50 [(ngModel)]="replyText"></textarea>
    <button (click)="sendReply()">Send</button>
    <br>
    <p *ngIf="errorOcurred()" class="error-send-answer">{{errorMsg}}</p>
</div>

</html>