.botbar{
    display: flex;
    background-color: #80808033;
    vertical-align: baseline;

}
#bottom-bar-right{
    flex-direction: row;
    display: flex;
    flex:auto;
    align-items:center;
    margin-right: 4%;
    justify-content: right;
    background-color: transparent;
}
#bottom-bar-left{
    display: flex;
    flex: auto;
    margin-left: 2%;
    background-color: transparent;
}

.bottom-bar-button{
    font-size: 100%;
    min-height: 35px;
    width: 100%;
    font-weight: bold;
    opacity: 0.8;
    transition: 0.5s;
    border: none;
    color: #12CDD4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid  #DB00B6;
    background-color: #380B7A;
}

.bottom-bar-button:hover
{
    opacity: 1;
}

.bottom-bar-button:active
{
    background-color: #DB00B6;
    border: 2px solid  #12CDD4;
    color:#380B7A ;
    transition: 0.2s;
}

