.greetings{
    padding-top: 20%;
    padding-bottom: 5%;
    display: flex;
    font-size: xx-large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#hi{
    color: #12CDD4;
    padding-right: 5px;
}

#login{
    color: #FAC710;
    font-weight: bold;
}

.thread{
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.thread-button{
    font-size: 80%;
    min-height: 35%;
    width: 70%;
    font-weight: bold;
    opacity: 0.8;
    transition: 0.5s;
    border: none;
    color: #12CDD4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    border: 3px solid  #DB00B6;
    background-color: #380B7A;
    margin-top: 1%;
    margin-bottom: 1%;
}

.thread-button:hover
{
    opacity: 1;
}

.thread-button:active
{
    background-color: #DB00B6;
    border: 2px solid  #12CDD4;
    color:#380B7A ;
    transition: 0.2s;
}
@media screen and (max-width: 720px) {
    .greetings{
        padding-top: 0.5rem;
        padding-bottom: 0.1rem;
        font-size: 3rem;
    }
    .thread{
        flex-direction: column;
        align-content: center;
        font-size: 2rem;
    }
    .thread-button{
        width: 50%;
        font-size: 1.5rem;
    }
}