<html>

<h1>Create Discussion</h1>

<table>
    <tr>
        <h2>Discussion Name</h2>
        <input (change)="removeDuplicateDiscussionWarning()" [(ngModel)]="discCreate.discusName">
    </tr>

    <tr>
        <h2>Discussion Topics</h2>
    </tr>
</table>

<button (click)="removeMissingFieldWarning(); createDiscussion()">Done!</button>

<div *ngIf="isMissingField">Please create a name for the discussion.</div>

<div *ngIf="isDiscussionDuplicate">
    Duplicated discussion name. Please create another name.
</div>


</html>
