body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table-fields{
    margin: 0;
    margin-left: 5%;
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    margin: 0;
    margin-left: 5%;
    position: relative;
    top:15%;

    background-color:#380b7a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    margin-top: 15px;
    margin-bottom: 25px;
    position: relative;
    right: 8%;
    font-weight: 300;
    font-size: 2rem;
    color: white;
    font-family: sans-serif;
    margin-left: 10%;
}
.inputTitle{
    font-weight: 300;
    font-size: 1.1rem;
    font-family: sans-serif;
    color: #deac1e;
    font-weight: bold;
    font-size: 110%;
}
.inputs{
    margin-bottom: 40px;
    width: 80%;
}
.inputReg{
    width: 80%;
    border: none;
    background-color: rgb(81, 19, 138);
    border-radius: 5px;
    border: #db00b6 solid 2px;
    padding: 0.4rem;
    color: #12CDD4;
    font-weight: bold;
    font-size: 110%;
}
.donebutton{
    padding: 0.9rem 3.5rem;
    font-size: 1rem;
    background-color: #380b7a;
    border-radius: 5px;
    border: #db00b6 solid 2px;
    color: #deac1e;
    cursor: pointer;
    margin-right: 7%;
}
.donebutton:hover{
    background-color: #3f0f86;
}

.hints{
    color: white;
    margin-right: 7%;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.hints a{
    color: #deac1e;
}

.hints a:visited{
    color: #a07b15;
}

.errors{
    margin: 0;
    color: #deac1e;
    margin-right: 7%;
}