div{
    height: 100%; width: 100%;
}
.pg
{
    height:fit-content;
    display: flow-root;
}
.top
{
    height: fit-content;
    display: flow-root;
}
.center
{
    height:100%;
    display: flex;
    min-height: 90vh;
}

.center-left
{
    width: 20%;
    height: auto;
    display: flow-root;
}

.center-center
{
    width: 60%;
   height: auto;
}

    
.center-right
{
    width: 20%;
    height: auto;
}

.bot{
    height: fit-content;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #80808033;
}

@media screen and (max-width: 720px) {
    .center{
        flex-direction: column;
        width: 100%;
    }
    .center-left{
        width: 100%;
    }
    .center-center{
        width: 100%;
    }
    .center-right{
        width: 100%;
    }
}