/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #380B7A;
}
/**/

html{
    height: 100%;
} 
body{
    height: 100%; width: 100%; 
    min-height: 100%;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}
header{
    height: fit-content; width: 100%;
    position: absolute;
    top: 0;
} 
